.btn-wrapper button{
    background-color: red;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    color: white;
    box-shadow: black 0px 1px 5px;
}

.img-wrappe img{
    width: 100px;
    margin-top: -10px;
    
}
.cart-wrapper{
    height: 100px;
    width: 500px;
    border: 1px solid white;
    margin-left: 10%;
}
.item{
    float: left;
    display: inline-block;
    width: 320px;
    padding: 20px;
}

#add-to-cart img{
    width: 100px;
   height: 100px;
    align-content: end;
    right: 1%;
    top: 1%;
    color: red;
    margin-left: 90%; 
}

.cart-count{
    position: absolute;
    right: 10px;
    /* top: 3px; */
    z-index: 1;
    padding: 7px;
    padding-right: 80px;
    border-radius: 50%;
    color:  rgb(223, 28, 28);

}
